*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #333;
}

.container{
    max-width: 900px;
    padding:30px;
    background-color: rgb(255, 185, 131);
    margin:auto;
    text-align: center;
}

form{
    padding:30px;
    border:1px solid black;
}

form div{
    padding: 20px;
    border-bottom: 1px dotted #FFF;
}

input[type=text], input[type=password], input[type=number],input[type=date], textarea{
    border:1px solid black;
    border-radius: 5px;
    padding:5px;
    width:100%
}

textarea{
    width: 100%;
    resize: none;
}

fieldset{
    border: 2px solid rgb(33, 33, 107);
    border-radius: 5px;
}

legend{
    padding:5px 30px;
    background-color:rgb(33, 33, 107);
    color:#CCC;
    border:2px solid rgb(33, 33, 107);
    border-radius: 5px;
}

label{
    min-width: 100px;
    display: inline-block;
}

input[type=submit], input[type=reset]{
    background-color:rgb(33, 33, 107);
    color:#CCC;
    padding:10px;
    min-width: 45%;
    border: 2px solid rgb(33, 33, 107);
    border-radius: 5px;
}

li{
    padding:5px;
}